services:
  package-api:
    build:
      context: .
      dockerfile: dockerfiles/packageservice.Dockerfile
    container_name: package-api
    ports:
      - "8002:8000"
    env_file:
      - .services/product-service/.env
    working_dir: /app
    volumes:
      - ./app/package:/app/app
    restart: on-failure
    environment:
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      - postgres
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s 
        max_attempts: 5
    networks:
      - shared-network
  subscription-api:
    build:
      context: .
      dockerfile: dockerfiles/subscriptionservice.Dockerfile
    container_name: subscription-api
    ports:
      - "8003:8000"
    env_file:
      - .services/subscription-service/.env
    restart: on-failure
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 5

  rdbms:
    image: postgres:15
    environment:
      POSTGRES_DB: ${POSGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSGRES_PASSWORD: $"{POSGRES_PASSWORD}"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - back-office
      - pg-network
  rdbms-ui:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: no 
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:- dff@email.com}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:- 1qaz2wsx3edc}
    volumes:
      - pgadmin_data:/root/.pgadmin
    networks:
      - pg-network
    depends_on:
      - rdbms
      

  rabbitmq:
    image: rabbitmq:4-management
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
      - "5552:5552"
    networks:
      - back-office
    environment:
      - RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS="-rabbitmq_stream advertised_host localhost"

  ingestion-api:
    build:
      context: .
      dockerfile: dockerfiles/ingestionservice.Dockerfile
    container_name: ingestion-service
    ports:
      - "8001:8000"
    env_file:
      - ./alert-service/.env
    restart: on-failure
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 5
    depends_on:
      - rdbms
      - rabbitmq
    networks:
      - back-office
      - shared-network
  processor-worker:
    build:
      context: .
      dockerfile: dockerfiles/processorworker.Dockerfile
    container_name: processor-worker
    ports:
      - "8002:8000"
    env_file:
      - ./processor-service/.env
    depends_on:
      - rdbms
      - rabbitmq
    deploy:
      replicas: 2
    networks:
      - back-office
  reverse-proxy:
    build:
      context: infrastructures/nginx/
      dockerfile: Dockerfile
    container_name: reverse-proxy
    restart: on-failure
    ports:
      - "4344:44344"
    depends_on:
      - package-api
      - subscription-api
    networks:
      - shared-network
  redis-cache:
    container_name: redis-cache
    image: redis:7.4.3-alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis:/data
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep -q PONG"]
      interval: 1s 
      timeout: 3s
      retries: 5
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    environment:
      - REDIS_PASSWORD=$"{REDIS_PASSWORD:-1qaz2wsx3edc}"
    networks:
      - shared-network
      - redis-network
  redis-insight:
    container_name: redis-insight
    image: redislabs/redisinsight:latest
    restart: no 
    ports:
      - "8001:8001"
    volumes:
      - redisinsight_data:/data
    depends_on:
      - redis-cache
    networks:
      - redis-network

    

volumes:
  postgres_data: {}
  redis:
    driver: local
    external: false
  redisinsight_data:
    driver: local
    external: true

networks:
  back-office:
    driver: bridge
  shared-network:
    external: true
  pg-network:
    driver: bridge
  redis-network:
    driver: bridge