services:

  package-api:
    build:
      context: ./package-service
      dockerfile: Dockerfile
    container_name: package-api
    ports:
      - "8002:8000"
    env_file:
      - ./product-service/app/.env
    working_dir: /app
    volumes:
      - ./app/package:/app/app
    restart: on-failure
    environment:
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      - postgres
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s 
        max_attempts: 5
  subscription-api:
    build:
      context: ./subscription-service
      dockerfile: Dockerfile
    container_name: subscription-api
    ports:
      - "8003:8000"
    env_file:
      - ./subscription-service/app/.env
    restart: on-failure
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 5

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${POSGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSGRES_PASSWORD: $"{POSGRES_PASSWORD}"
    volumes:
      - postgres_data:/var/lib/postgresql/data

    ports:
      - "5432:5432"
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  ingestion-service:
    build:
      context: ./ingestion-service/
      dockerfile: Dockerfile
    container_name: ingestion-service
    ports:
      - "8001:8000"
    env_file:
      - ./alert-service/app/.env
    restart: on-failure
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 5
    depends_on:
      - db 
      - rabbitmq
  processor-service:
    build:
      context: ./processor-service/
      dockerfile: Dockerfile
    container_name: processor-service
    depends_on:
      - db
      - rabbitmq
    

volumes:
  postgres_data: {}