services:
  package-api:
    build:
      context: ./package-service
      dockerfile: Dockerfile
    container_name: package-api
    ports:
      - "8002:8000"
    env_file:
      - ./product-service/.env
    working_dir: /app
    volumes:
      - ./app/package:/app/app
    restart: on-failure
    environment:
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      - postgres
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s 
        max_attempts: 5
  subscription-api:
    build:
      context: ./subscription-service
      dockerfile: Dockerfile
    container_name: subscription-api
    ports:
      - "8003:8000"
    env_file:
      - ./subscription-service/.env
    restart: on-failure
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 5

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${POSGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSGRES_PASSWORD: $"{POSGRES_PASSWORD}"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - back-office
  rabbitmq:
    image: rabbitmq:3-management
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - back-office

  ingestion-api:
    build:
      context: ./ingestion-service/
      dockerfile: Dockerfile
    container_name: ingestion-service
    ports:
      - "8001:8000"
    env_file:
      - ./alert-service/.env
    restart: on-failure
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 5
    depends_on:
      - db 
      - rabbitmq
    networks:
      - back-office
  processor-worker:
    build:
      context: ./processor-service/
      dockerfile: Dockerfile
    container_name: processor-worker
    ports:
      - "8002:8000"
    env_file:
      - ./processor-service/.env
    depends_on:
      - db
      - rabbitmq
    deploy:
      replicas: 2
    networks:
      - back-office
  reverse-proxy:
    build:
      context: infrastructures/nginx/
      dockerfile: Dockerfile
    container_name: reverse-proxy
    restart: on-failure
    ports:
      - "4344:44344"
    depends_on:
      - package-api
      - subscription-api
  redis-cache:
    container_name: redis-cache
    image: redis:7.4.3-alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis:/data
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep -q PONG"]
      interval: 1s 
      timeout: 3s
      retries: 5
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    environment:
      - REDIS_PASSWORD=$"{REDIS_PASSWORD:-1qaz2wsx3edc}"
    

volumes:
  postgres_data: {}
  redis:
    driver: local
    external: false

networks:
  back-office: